@using Twilio;
@{
    // Set our Account SID and AuthToken
    string accountSid = "AC123";
    string authToken = "abcd";

    // A phone number you have previously validated with Twilio
    string phonenumber = "+14151234567";

    // Instantiate a new Twilio Rest Client
    var client = new TwilioRestClient(accountSid, authToken);

    // Initiate a new outbound call
    var call = client.InitiateOutboundCall(
        phonenumber, // The number of the phone initiating the call
        "+15101234567", // The number of the phone receiving call
        "http://demo.twilio.com/welcome/voice/" // The URL Twilio will request when the call is answered
    );

    if (call.RestException == null)
    { Response.Write(string.Format("Started call: {0}", call.Sid));
} else {
        Response.Write(string.Format("Error: {0}", call.RestException.Message));
    }
}

@*@model IEnumerable<Dialer.Models.Salesforce.Lead>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MasterRecordId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salutation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobilePhone)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.LeadSource)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedById)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastModifiedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastModifiedById)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SystemModstamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastActivityDate)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.LastViewedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastReferencedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailBouncedReason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailBouncedDate)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PhotoUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Jigsaw)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JigsawContactId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CleanStatus)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MasterRecordId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salutation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobilePhone)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.LeadSource)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedById)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedById)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SystemModstamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastActivityDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.LastViewedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastReferencedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailBouncedReason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailBouncedDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PhotoUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jigsaw)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JigsawContactId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CleanStatus)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>*@
